@import '../../colors.scss';

.home-app {
    background-color: $background;
    height: 100%;
}

.home-header {
    background-color: $background;
}

.home-body {
    background-color: $background;    
}