<div>
    <h1><a href="https://rxjs.dev/guide/overview">RxJs</a></h1>
    <h2><a href="https://rxjs.dev/operator-decision-tree">Operator decision tree</a></h2>
    <h3><a [routerLink]="['of']">of</a></h3>
    <h3><a [routerLink]="['from']">from</a></h3>
    <h3><a [routerLink]="['filter']">filter</a></h3>
    <h3><a [routerLink]="['map']">map</a></h3>
    <h3><a [routerLink]="['mergemap']">mergeMap</a></h3>
    <h3><a [routerLink]="['tap']">tap</a></h3>
    <h3><a [routerLink]="['take']">take</a></h3>
    <h3><a [routerLink]="['last']">last</a></h3>
    <h3><a [routerLink]="['forkjoin']">forkJoin</a></h3>
    <h3><a [routerLink]="['iif']">iif</a></h3>
    <h3><a [routerLink]="['switchmap']">switchMap</a></h3>
    <h3><a [routerLink]="['sharereplay']">shareReplay</a></h3>
    <h3><a [routerLink]="['concat']">concat</a></h3>
    <h3><a [routerLink]="['fromevent']">fromEvent</a></h3>
    <h3><a [routerLink]="['subject']">Subject</a></h3>
    <h3><a [routerLink]="['behaviorsubject']">BehaviorSubject</a></h3>
</div>