@import "../../../../colors.scss";

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3px 0 3px 0;
    line-height: 12px;
}
::ng-deep .mat-form-field-wrapper {
    padding: 0;
}

.detalhes-app {
    width: 440px;
    background-color: $detalhes;
}

.detalhes-container {
    width: 205px;
    font-size: 9pt;
}

.datefield {
    width: 190px;

    .datefield-input {
        padding: 3px 0 2px 0;
        cursor: pointer;
    }

    mat-datepicker-toggle {
        position: relative;
        top: 7px;
    }
}

.frentista {
    padding: 5px 0 3px 0;
}
