<section>
    <h1>iif</h1>

    <p>Value of 'testArray1':</p>
    <pre>{{testArray1|json}}</pre>

    <input type="text" [(ngModel)]="inputArray1">
    <button (click)="setArray1();">Set 'testArray1'</button>

    <p>Value of 'testArray2':</p>
    <pre>{{testArray2|json}}</pre>

    <input type="text" [(ngModel)]="inputArray2">
    <button (click)="setArray2();">Set 'testArray2'</button>

    <input type="checkbox" [(ngModel)]="condition"> Use array 1    
    <button (click)="executeTest();">Test operator</button>
    
    <p>Result:</p>
    <pre>{{result|json}}</pre>
</section>